<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <script>
      function updateDeviceMap(sender) {
        const ctx = document.getElementById('mapCanvas').getContext('2d')
        const mapContainer = document.getElementById('mapContainer')
        const mapWidth = mapContainer.offsetWidth
        const mapHeight = mapContainer.offsetHeight
      
        ctx.clearRect(0, 0, mapWidth, mapHeight) // キャンバスをクリア
      
        // 送信デバイスの推定位置を表示
        if (sender) {
          const x = sender.position.x * mapWidth
          const y = sender.position.y * mapHeight
          ctx.fillStyle = 'blue'
          ctx.beginPath()
          ctx.arc(x, y, 10, 0, 2 * Math.PI)
          ctx.fill()
          ctx.fillText(sender.device_id, x + 10, y)
        }
      }
    </script>
  </head>

  <body>
    <h1>Device Map</h1>
    <div id="mapContainer" style="position: relative; width: 1000px; height: 700px;">
      <!-- サイズ変更 -->
      <img src="/static/map_image.png" style="position: absolute; width: 100%; height: 100%;" />
      <canvas id="mapCanvas" width="1000" height="700" style="position: absolute;"></canvas>
    </div>

    <h2>Links</h2>
    <ul>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/histgram">RSSI Histogram</a>
      </li>
      <li>
        <a href="/scanned_devices">Scanned Devices</a>
      <li>
        <a href="/setup">Receiver Device Setup</a>
      </li>
    </ul>
  </body>
</html>
